section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-width: var(--max-width);
  margin-top: 60px;
  z-index: 99;
  margin: 0 auto;
}

.projects {
  margin-top: 60px;
}

.card {
  position: relative;
  width: 655px;
  height: 510px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  background-size: contain;
  border-radius: 4px;
  border: var(--border-outline);
  box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.28) 0px 2px 7px -3px;
  transition-property: box-shadows;
  transition: .3s;
  box-sizing: border-box;
  background-size: contain;
  background: var(--cards-bg);
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-img-content {
  position: relative;
  width: auto;
  height: calc(100% - 184px);
  overflow: hidden;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card-view-content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  opacity: 1;
  border-top: var(--border-outline);
  background: transparent;
}

.card-title, .card-info {
  text-align: left;
  overflow: hidden;
  color: var(--color-text);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  padding: 3px 9px;
  height: 38px;
  line-height: 38px;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
}

.card-info {
  padding: 3px 9px;
  font-size: 16px;
  height: 23px;
  line-height: 23px;
  font-weight: 500;
}

.card-view {
  position: relative;
  top: 8px;
  left: 5px;
  height: 55px;
  text-align: left;
}

.card-btn {
  display: inline-block;
  position: relative;
  top: 0px;
  color: white;
  padding: 8px 10px;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1px;
}

.card-btn.btn-demo {
  display: none;
  background: rgb(0, 81, 255);
}

.card-btn.btn-demo:hover {
  background: rgb(25, 70, 168);
}

.card-btn.btn-code {
  background: rgb(32, 156, 32);
}

.card-btn.btn-code:hover {
  background: rgb(34, 139, 34);
}

.card-btn.btn-demo.is-active {
  display: inline-block;
}

.fa-play, .fa-code {
  padding-left: 5px;
}

@media screen and (max-width: 555px) {
  .card {
    height: 460px;
  }
}

@media screen and (max-width: 430px) {
  .card {
    height: 360px;
  }
}