#header {
  user-select: none;
  top: 0;
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 999;
  transition: box-shadow .15s;
  background: var(--BG);
}

#header.active {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.header-cont {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

.header-title, .header-navBtn {
  display: inline-block;
  line-height: 65px;
}

.header-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 61px;
}

.header-navBtn {
  float: right;
}

#themeBtn {
  cursor: pointer;
  padding: 0 5px;
}

.fa-moon{
  font-size: 18px;
}

.header-cont, .fa-moon, .header-navBtn ul li a {
  color: var(--colorT);
}