#header {
  user-select: none;
  top: 0;
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 999;
  transition: 0.15s;
  background: var(--BG);
}

#header.active {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.header-cont {
  color: var(--colorT);
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

.header-title, .header-navBtn {
  display: inline-block;
  line-height: 65px;
}

.header-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 61px;
}

.header-navBtn {
  float: right;
}

.header-navBtn ul li {
  display: inline-block;
}

.header-navBtn ul span {
  color: rgb(133, 133, 133);
  padding: 0 3px;
}

.header-navBtn ul li a {
  position: relative;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--colorT);
  transition: 0.15s;
}

#themeBtn {
  cursor: pointer;
  padding: 0 5px;
}

@media screen and (max-width: 650px) {
  .header-navBtn ul li {
    display: none;
  }
  .header-navBtn ul span {
    display: none;
  }
  #themeBtn {
    display: block;
  }
}

.fa-moon {
  font-size: 18px;
  color: var(--colorT);
}