.header {
  z-index: 99990;
  user-select: none;
  position: sticky;
  top: -1px;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--header);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}

.header-title {
  position: relative;
  top: -3px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Kaushan Script", cursive;
  color: var(--color-text);
}

.header-nav-btn {
  cursor: pointer;
  color: var(--color-text);
}

.header-btn {
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 10px;
  background: var(--settings-item-bg);
}

.header-btn:hover {
  background: var(--settings-item-hover);
}

.header-btn .fa-cog {
  font-size: 19px;
  color: var(--color-text);
}
