#themeMessage {
    display: block;
    width: auto;
    right: 10px;
    visibility: collapse;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: rgb(42, 202, 82);
}

#themeMessage.active {
    visibility: visible;
}

#themeMessage, #themeMessage::before, #themeMessage::after {
    position: absolute;
}

#themeMessage::before {
    content: "";
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    opacity: 1;
    border: 2px solid rgb(42, 202, 82);
    border-radius: 5px;
    animation: mess 0.8s infinite;
}

@keyframes mess {
    0% {
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        opacity: 1;
    }
    100% {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        opacity: 0;
    }
}

#themeMessage::after {
    content: "";
}

#msgTextMain {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(126, 126, 126, 0.5);
}