.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid hsla(0, 0%, 57%, 0.15);
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 35px;
  background: var(--card-bg);
}

#footer-updated-text {
  position: relative;
  width: 100%;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--footer-text);
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  border: 0 solid var(--color-text);
  border-radius: 10px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 3px;
  width: 50px;
  margin: 5px 10px;
  aspect-ratio: 1;
  position: relative;
  transition: 0.1s;
}

.footer-link:hover {
  color: var(--footer-bg);
  background: var(--color-text);
}

.footer-link a {
  color: var(--color-text);
}

.footer-link:hover a {
  color: var(--footer-bg);
}

.fa-github.footer-icon,
.fa-vk.footer-icon {
  position: relative;
  font-size: 36px;
}

.fa-vk.footer-icon {
  top: 1px;
  left: 1px;
}
