footer {
  width: 100%;
  margin-top: 110px;
  text-align: center;
  height: 190px;
  border-top: 1px solid rgba(146, 146, 146, 0.15);
  background: var(--BG);
}

footer a {
  padding: 10px;
  margin: 15px;
  transition: 0.1s;
  font-weight: 100;
  color: var(--colorT);
  border: 1px solid var(--colorT);
  font-size: 23px;
}

footer a:hover {
  color: var(--footer);
  background: var(--colorT);
}

#updateSite {
  top: 30px;
  font-weight: bold;
  color: var(--footerTxt);
}

#footer_Cont {
  top: 83px;
  transform: translateY(-50%);
}

.fa-vk, .fa-github {
  top: 4px;
  font-size: 35px;
}

footer, footer a, #footer_MainCont, #updateSite, #footer_Cont, .fa-vk, .fa-github {
  position: relative;
}