#footer-wrapper {
  position: relative;
  width: 100%;
  /* margin-top: 35px; */
  padding: 20px 0 41px;
}

footer {
  position: relative;
  text-align: center;

  border-top: 1px solid rgba(146, 146, 146, 0.15);
  background: var(--BG);
}

#footer-update-text {
  position: relative;
  font-weight: bold;
  color: var(--footer-text);
  padding: 30px 0;
}

#footer-link {
  position: relative;
  padding: 10px;
  margin: 0 15px;
  transition: 0.1s;
  font-weight: 100;
  color: var(--color-text);
  border: 0 solid var(--color-text);
  border-radius: 4px;
  letter-spacing: 3px;
  font-size: 23px;
  transform: rotate(45deg);
}

#footer-link:hover {
  color: var(--footer-bg);
  background: var(--color-text);
}

.fa-github, .fa-vk {
  position: relative;
  top: 4px;
  left: 1px;
  padding: 0;
  font-size: 35px;
}