body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background: var(--BG);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(73, 73, 73, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, button, li, ul {
  outline: none;
  border-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --BG: rgb(244, 248, 251);
  --maxWidth: 1200px;
  --bgCards: #fff;
  --colorT: black;
  --colorGray: gray;
  --footer: rgb(241, 241, 241);
  --footerTxt: rgb(61, 61, 61);
  --footerLink: black;
}

[class="darkTheme"] {
  --BG: rgb(27, 27, 27);
  --bgCards: rgb(21, 21, 21);
  --colorT: white;
  --footer: rgb(35, 35, 35);
  --footerTxt: rgb(161, 161, 161);
  --footerLink: white;
}