body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: var(--bg);
}

:root {
  --bg: #fafcff;
  --header: #fff;
  --max-width: 1260px;
  --border-outline: 1px solid rgba(131, 130, 130, 1);
  --border: 1px solid #e1e1e1;
  --card-bg: #fff;
  --color-text: black;
  --demo-btn: rgb(0, 81, 255);
  --code-btn: rgb(31, 165, 31);
  --footer-bg: rgb(255, 255, 255);
  --footer-text: rgb(61, 61, 61);
  --footer-link: black;
}

[class="dark-theme"] {
  --bg: rgb(15, 15, 15);
  --header: rgb(21, 21, 21);
  --card-bg: #1b1b1b;
  --border: 1px solid rgb(35, 35, 35);
  --demo-btn: rgb(29, 62, 134);
  --code-btn: rgb(31, 100, 31);
  --color-text: rgb(230, 230, 230);
  --footer-bg: rgb(15, 15, 15);
  --footer-text: rgb(161, 161, 161);
  --footer-link: white;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  max-width: var(--max-width);
  margin: 0 auto;
}

#main {
  overflow-y: auto;
  position: absolute;
  top: 55px;
  width: 100%;
  padding-top: 10px;
  height: calc(100% - 65px);
  scrollbar-color: rgb(126, 126, 126) rgba(255, 255, 255, 0);
}

.content {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  max-width: var(--max-width);
}

.title-main {
  width: calc(100% - 42px);
  margin: 25px 21px 10px;
  padding-bottom: 8px;
  color: var(--color-text);
  border-bottom: var(--border);
}

.title-main i {
  margin-right: 5px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5px;
}
