#progressCont {
  position: relative;
  width: 100%;
  height: auto;
}

#progressValue {
  width: 50%;
  transition: 0.1s;
}

#progressValue.headerV {
  height: 3px;
  background: rgb(2, 141, 255);
}

#progressValue.sliderV {
  height: 5px;
  border-radius: 1px;
  background: rgba(34, 149, 78, 0.9);
}