#progress-content {
  position: relative;
  width: 100%;
  height: auto;
}

.progress-value {
  width: 50%;
  transition: 0.1s;
}

.progress-value._header {
  height: 3px;
  background: rgb(2, 141, 255);
}

.progress-value._carousel {
  height: 5px;
  border-radius: 8px;
  background: rgba(34, 149, 78, 0.7);
}