.slider-content {
  overflow: hidden;
  margin: 80px auto 30px auto;
  height: 730px;
}

.slider-content, .slider, .slider-btn button, .fa-chevron-left, .fa-chevron-right, .slider-image, .newProject, .updateProject {
  position: relative;
}

.slider-content, .slider, .slider-btn, .slider-btn button, #silder-btn-left::after, #silder-btn-right::after, .fa-chevron-left, .fa-chevron-right, #slider-imageCont {
  transition: 0.3s;
}

.slider-content, #slider-imageCont, .slider-image {
  width: 100%;
}

.slider-btn, #silder-btn-left::after, #silder-btn-right::after, #slider-imageCont, .projectCont {
  position: absolute;
}

.slider {
  max-width: 1200px;
  margin: 10px auto 0 auto;
  padding-top: 30px;
  height: calc(100% - 20px);
}

.slider-btn {
  z-index: 9;
  top: 43%;
  transform: translateY(-43%);
  left: -26px;
  width: calc(100% + 52px);
}

.slider-btn button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 4px solid var(--BG);
  border-radius: 50%;
  transform: scale(1);
  background: var(--colorT);
}

.slider-btn button:hover {
  transform: scale(1.15);
}

.fa-chevron-left, .fa-chevron-right {
  border-radius: 50%;
  font-size: 27px;
  transform: scale(1);
  color: var(--BG);
}

.fa-chevron-left {
  left: -1px;
}

.fa-chevron-right {
  right: -1px;
}

/* ANIM ICON ON HOVER */

.slider-btn button:hover>.fa-chevron-left {
  left: -5px;
}

.slider-btn button:hover>.fa-chevron-right {
  right: -5px;
}

#silder-btn-right {
  float: right;
}

#silder-btn-left::after, #silder-btn-right::after {
  top: -30px;
  max-width: 333px;
  height: auto;
  line-height: 19px;
  border: 1px solid var(--colorT);
  opacity: 0;
  white-space: nowrap;
  padding: 1px 5px;
  border-radius: 1px;
  color: var(--colorT);
  pointer-events: none;
  background: var(--BG);
}

#silder-btn-left:hover::after, #silder-btn-right:hover::after {
  opacity: 1;
  pointer-events: all;
}

#slider-imageCont {
  top: 0;
  height: 100%;
  left: 0;
  white-space: nowrap;
}

.slider-image {
  display: inline-block;
  height: calc(100% - 50px);
  overflow: hidden;
  right: 0%;
  margin: 15px 0;
  transition: 0.55s;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  opacity: 0.9;
  transform: scale(.91);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.slider-image.active {
  opacity: 1;
  transform: scale(1);
}

/* NEW PROJECT MESSAGE */

.projectCont {
  right: 0;
}

.newProject, .updateProject {
  display: none;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 6px 15px;
}

.newProject.isNew, .updateProject.isUpdate {
  display: block;
}

.newProject {
  background: rgb(214, 46, 46);
}

.updateProject {
  background: rgb(0, 119, 255);
}

/* MEDIA */

@media screen and (max-width: 1180px) {
  .slider {
    margin: 10px auto 0 auto;
  }
  .slider-btn {
    left: 15px;
    width: calc(100% - 30px);
  }
  .slider-image {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
  .slider-content {
    height: 550px;
  }
}

@media screen and (max-width: 900px) {
  .slider-content {
    height: 550px;
  }
  .slider-image {
    background-size: cover;
  }
}

@media screen and (max-width: 750px) {
  .slider-content {
    height: 455px;
  }
}

@media screen and (max-width: 475px) {
  .slider-content {
    height: 350px;
  }
}

@media screen and (max-width: 430px) {
  .otherSlideHide {
    height: 300px;
  }
}