.slider-content {
  max-width: var(--max-width);
  margin: 23px auto 20px auto;
}

.slider-content, .slider, .slider-btn button, .fa-chevron-left, .fa-chevron-right, .slider-image, .newProject, .updateProject {
  position: relative;
}

.slider-content, .slider, .slider-btn, .slider-btn button, #silder-btn-left::after, #silder-btn-right::after, .fa-chevron-left, .fa-chevron-right, #slider-image-content {
  transition: 0.3s;
}

.slider-content, #slider-image-content {
  width: 100%;
}

.slider-btn, #silder-btn-left::after, #silder-btn-right::after, .projectCont {
  position: absolute;
}

.slider {
  margin: 0px 5px 0 5px;
  height: calc(100% - 20px);
  padding-bottom: 5px;
}

.slider-btn {
  z-index: 9;
  top: 49%;
  transform: translateY(-49%);
  left: 18px;
  width: calc(100% - 36px);
}

.slider-btn button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: .7;
  border: 2px solid rgba(251, 251, 251, .3);
  background: rgba(0, 0, 0, 0.9);
}

.slider-btn button:hover {
  opacity: 0.9;
}

.fa-chevron-left, .fa-chevron-right {
  border-radius: 50%;
  font-size: 29px;
  color: white;
}

.fa-chevron-left {
  left: -1px;
}

.fa-chevron-right {
  right: -1px;
}

/* ANIM ICON ON HOVER */

.slider-btn button:hover>.fa-chevron-left {
  left: -5px;
}

.slider-btn button:hover>.fa-chevron-right {
  right: -5px;
}

#silder-btn-right {
  float: right;
}

#silder-btn-left::after, #silder-btn-right::after {
  top: -30px;
  max-width: 333px;
  height: auto;
  line-height: 19px;
  opacity: 0;
  white-space: nowrap;
  padding: 1px 5px;
  border-radius: 1px;
  color: var(--color-text);
  pointer-events: none;
  background: var(--BG);
}

#silder-btn-left:hover::after, #silder-btn-right:hover::after {
  opacity: 1;
  pointer-events: all;
}

#slider-title {
  margin: 10px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
  border-bottom: 1px solid rgba(194, 194, 194, 0.27);
}

#slider-image-content {
  overflow: hidden;
  position: relative;
  top: 0;
  height: 690px;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.slider-image {
  display: inline-block;
  margin: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  overflow: hidden;
  right: 0%;
  border: var(--border-outline);
  transition: .5s;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#progress-Wrapper {
  overflow: hidden;
  width: calc(100% - 10px);
  margin: -1px 5px;
  margin-bottom: 3px;
}

.projectInfo {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.projectName {
  float: left;
  color: rgb(226, 226, 226);
  padding: 7px 12px;
  font-size: 19px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgb(255, 255, 255, .6);
  background: rgb(40, 41, 42);
}

.projectName i b {
  color: white;
}

.projectName i {
  display: block;
}

/* DOTS */

#slider-dotsCont {
  text-align: center;
  padding-top: 20px;
}

.slider-dots {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  margin: 0 5px;
  border: 2px solid rgb(0, 140, 255);
}

.slider-dots::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: .3s;
  transform: translate(-50%, -50%) scale(0);
  background: rgb(0, 140, 255);
}

.slider-dots.active::after {
  content: "";
  transform: translate(-50%, -50%) scale(1);
}

/* MEDIA */

@media screen and (max-width: 1180px) {
  .slider-btn {
    left: 15px;
    width: calc(100% - 30px);
  }
  #slider-image-content {
    height: 550px;
  }
}

@media screen and (max-width: 750px) {
  #slider-image-content {
    height: 360px;
  }
}

@media screen and (max-width: 475px) {
  #slider-image-content {
    height: 330px;
  }
}

@media screen and (max-width: 430px) {
  #slider-image-content {
    height: 270px;
  }
}